.footer{
    width: 100%;
    background-color: #f7f7f7;
    padding: 96px 100px 63px 103px;
}

.footer_flexbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    h2{
        @include font-params (
            'Merriweather',
            700, 
            18px, 
            23px
        );
    }

    p{
        @include font-params (
            'Montserrat',
            400, 
            14px, 
            17px
        );
        margin-top: 24px;
    }
}

.camper_card{
    margin: 0 117px 0 0;

    h2{
        @include font-params (
            'Merriweather',
            700, 
            24px, 
            30px
        );
    }

    h1{
        @include font-params (
            'Merriweather',
            700, 
            48px, 
            60px
        );
        margin-top: 16px;
    }
}

.discover_card{
    margin: 0 0 0 11px;
}

.become_card{
    margin: 2px 0 0 8px;
}

.assistance_card{
    margin: 2px 11px 0 0;
}

.rights_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    border-top: 0.5px solid hsla(0, 0%, 0%, 0.205);
    p{
        @include font-params (
            'Montserrat',
            400, 
            14px, 
            17px
        );
    }
}

.rights_flexbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px 0 0 0;
}

.right_p{
    margin: 0 478px 0 0;
}