@import url("https://fonts.googleapis.com/css?family=Merriweather:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");


$color_brown:#F78065;
$color_white:#ffffff;

@mixin font-params ($famaly, $weight, $size, $line-height) {
    font-family: $famaly;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site_container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

@import './sass/header';
@import './sass/body';
@import './sass/footer';
