@import url("https://fonts.googleapis.com/css?family=Merriweather:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site_container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}